
@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background: #008B8B;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.10em; /* ~28px */
}

.brandTxt {
  margin-left: 1px;
}

.nav {
  float: right;
  margin-top: 2px;
  margin-right: 0px;
  padding-right: 2px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 5px;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}

.wrapper {
  width: 1400px;
  height: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px ;
  background-color: #fafafa;
  align-content: space-around;
  justify-content: space-between;
  grid-auto-rows: 100px;
  grid-column-gap: 20px;
  grid-row-gap: 1em;  
  grid-auto-rows: minmax(100px, auto);

}

.item1 {
  grid-column: auto  ;
  grid-row: auto  ;
}

.item2 {
  grid-column: auto ;
  grid-row: auto ;
}

.item3 {
  grid-column:  auto  ;
  grid-row: 2 ;
}

.item4 {
  grid-column: auto ;
  grid-row: 2  ;
}